<MudAppBar Color="Color.Primary">
    <a href="/" class="pr-10">
     
        <MudText Style="color: white" Typo="Typo.h4">SVK</MudText>
    </a>
    <div>
        <MudButton Color="Color.Inherit" Href="/controles">Controles</MudButton>
        <MudButton Color="Color.Inherit" Href="/laders">Laders</MudButton>
        <MudButton Color="Color.Inherit" Href="/managers">Managers</MudButton>
    </div>

    <MudSpacer />
    <MudMenu Icon="@Icons.Material.Filled.AccountCircle" Size="Size.Large" Color="Color.Inherit" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight" Dense="true">
        <AccessControl />
    </MudMenu>
</MudAppBar>